<!doctype html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pico.min.css' %}">
    <title>{% block title %}{% endblock %} - Chat Potato</title>
    <style>
      .errorlist {
        color: red;
      }

      article.first {
        margin-top: 0;
      }

      .no-margin {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
